<div
  style="
    background-color: #3f51b5;
    display: flex;
    justify-content: flex-start;
    padding: 0.5rem 1rem;
    gap: 1rem;
  ">
  <ng-container *ngFor="let item of navLinks">
    <a
      *featureToggle="item.feature; else disabledLink"
      mat-raised-button
      [routerLink]="[item.link]">
      {{ item.label }}
    </a>
    <ng-template #disabledLink>
      <a mat-raised-button disabled style="color: rgb(128, 128, 128)">
        {{ item.label }}
      </a>
    </ng-template>
  </ng-container>
</div>
<router-outlet></router-outlet>
